.note {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
  margin: 10px;
  min-width: 100%;
  margin: 5px;
  background-color: rgb(212, 212, 212);
}

.note div {
  margin: 10px;
}

.btn {
  font-size: 24px;
  padding: 0;
  margin: 5px;
  border: none;
  background-color: rgb(212, 212, 212);
}

.btn:hover {
  cursor: pointer;
  color: rgb(160, 160, 160);
}

.icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.name {
  display: flex;
}
