.summaryHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(175, 255, 182);
  min-width: 100%;
}

.summaryHeader div {
  margin: 10px;
}

.summaryTable {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 70%;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.summaryRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  min-width: 100%;
  margin: 5px;
  background-color: rgb(212, 212, 212);
}

.summaryRow div {
  margin: 10px;
}
