.notesListHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
  background-color: rgb(175, 255, 182);
  min-width: 100%;
  margin: 10px 0;
}

.notesListHeader div {
  margin: 10px;
}

.notesList {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 70%;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.btn {
  align-self: flex-end;
  margin: 10px;
  padding: 8px 16px;
  background-color: #03b403;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #019c01;
}
